.navbar {
  width: 80%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto; }
  .navbar .logo {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    color: #47f; }
  .navbar .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #47f;
    transform: translate(0, 100%);
    transition: transform 0.7s ease-out; }
    .navbar .nav-list .nav-link {
      font-size: 2.2rem;
      color: #e4e4e4;
      list-style: none;
      text-decoration: none;
      opacity: 0;
      transform: translate(-100vw, 0); }
      .navbar .nav-list .nav-link.show {
        transform: translate(0, 0);
        opacity: 1; }
      .navbar .nav-list .nav-link:hover {
        color: #1b59ff; }
    .navbar .nav-list.open {
      transform: translate(0, 0); }
  .navbar .burger .line {
    height: 3px;
    width: 30px;
    margin: 0 0 5px 0;
    background-color: #47f;
    transition: all 0.5s ease-in; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-color: #e4e4e4;
  font-family: "Montserrat", sans-serif; }
  body.block-scroll {
    overflow: hidden; }

header {
  position: fixed;
  align-items: center;
  width: 100vw;
  background-color: #3c3c3c;
  z-index: 100; }

.section {
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 7vh 0; }

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.showcase {
  font-size: 1.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .showcase div {
    width: 50%;
    line-height: 1.5;
    text-align: center; }
    .showcase div h1 {
      color: #47f; }
    .showcase div p {
      margin-bottom: 30px; }
    .showcase div div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%; }
      .showcase div div a {
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none; }
        .showcase div div a.light {
          color: #e4e4e4;
          background-color: #47f;
          border: 2px solid #e4e4e4; }
          .showcase div div a.light:hover {
            color: #47f;
            background-color: #e4e4e4;
            border: 2px solid #47f; }
        .showcase div div a.dark {
          color: #47f;
          border: 2px solid #47f; }
          .showcase div div a.dark:hover {
            color: #e4e4e4;
            background-color: #47f;
            border: 2px solid #47f; }

.aboutus {
  background-color: #47f; }
  .aboutus h1 {
    color: #e4e4e4;
    font-size: 3rem; }
  .aboutus div {
    line-height: 1.5;
    align-items: center; }
    .aboutus div img {
      border-radius: 30px;
      max-width: 600px;
      max-height: 600px;
      width: 100%;
      padding: 2vh 0;
      position: relative; }
      .aboutus div img:before {
        content: "qweqweqwe";
        display: block;
        width: 50px;
        height: 25px;
        background-color: #fff; }
    .aboutus div p {
      color: #e4e4e4;
      font-size: 1.2rem; }

.projects {
  background-color: #e4e4e4;
  width: 100%; }
  .projects h1 {
    color: #47f;
    font-size: 3rem;
    margin-bottom: 3vh; }
  .projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .projects .container .project {
      margin: 0 2vw 2vh 0;
      width: 300px;
      height: 250px;
      border: 2px solid #47f;
      background: url(../img/aboutus.jpg);
      background-position: center;
      background-size: cover; }
      .projects .container .project .text {
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        right: 0;
        opacity: 0;
        color: #e4e4e4; }
      .projects .container .project:hover {
        background: #47f; }
        .projects .container .project:hover .text {
          opacity: 1; }

.pricelist {
  background-color: #3c3c3c;
  position: relative; }
  .pricelist h1 {
    position: relative;
    color: #e4e4e4;
    font-size: 3rem;
    margin-bottom: 3vh;
    z-index: 10; }
  .pricelist .pricelisttop {
    display: block;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #47f; }
  .pricelist .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 2%; }
    .pricelist .container .card {
      margin: 2vh 1vw;
      align-items: center;
      background-color: #e4e4e4;
      width: 350px;
      padding: 30px 25px;
      line-height: 1.5;
      box-shadow: 0 2vh 4vw #000000c9; }
      .pricelist .container .card h2 {
        font-size: 2rem;
        color: #47f;
        margin: 10px 0; }
      .pricelist .container .card p {
        font-size: 1.2rem;
        margin: 10px 0; }
      .pricelist .container .card ul {
        list-style-position: inside;
        text-align: left; }
      .pricelist .container .card button {
        font-size: 1.5rem;
        color: #e4e4e4;
        background-color: #47f;
        border-radius: 20px;
        margin: 20px 0;
        padding: 10px 20px; }
        .pricelist .container .card button:hover {
          background-color: #3c3c3c; }
