$font-family: "Montserrat", sans-serif;
$primary-color: #47f;
$secondary-color: #e4e4e4;
$tertiary-color: #3c3c3c;
@import "navbar";
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: $secondary-color;
  font-family: $font-family;
  &.block-scroll {
    overflow: hidden;
  }
}
header {
  position: fixed;
  align-items: center;
  width: 100vw;
  background-color: $tertiary-color;
}
